*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
/todo.txt
/release/
/myAndroid/build/
/myScript/build/
/myWorld/build/
/webWorld/build/
/webWorld/release/
